<p>Search and pick a beer to add it to the chart, to compare it with other beers.</p>
<mat-form-field appearance="fill">
  <input matInput
    placeholder="Search and pick a beer"
    [formControl]="name"
    [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="itemSelected($event)">
    <mat-option *ngFor="let option of options" [value]="option">
      {{option.name}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
<mat-chip-list aria-label="Selected Beers">
  <mat-chip *ngFor="let item of selected" (click)="selectedBeerHilighted($event, item)">{{item.name}}</mat-chip>
</mat-chip-list>

<ngx-charts-bar-vertical-2d
  [view]="view"
  [scheme]="colorScheme"
  [results]="chartData"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  (select)="chartItemSelected($event)"
  (activate)="chartActivate($event)"
  (deactivate)="chartDeactivate($event)"
  >
</ngx-charts-bar-vertical-2d>