<mat-card>
  <mat-card-title>Title</mat-card-title>
  <mat-card-subtitle>Subtitle</mat-card-subtitle>
  <mat-card-content>Bacon ipsum dolor amet strip steak pork chop buffalo prosciutto boudin fatback. Biltong capicola ribeye prosciutto, tongue tail cupim venison pig ground round beef ribs tri-tip tenderloin doner. Ground round meatball pork belly leberkas, turkey picanha short loin. Prosciutto cupim pancetta chislic shankle chuck jerky salami chicken porchetta turducken short ribs pig cow. Ham shankle ribeye jowl.</mat-card-content>
</mat-card>